html {
    font-family: "marlide-display-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 13pt;
    line-height: .8;
    margin-top: 100px;
    background-color: #f5e5d3;
}

h1 {
    font-size: 28pt;
    font-variation-settings: "wght" 500;
    color: #0b4f10;
    margin-top: -20px;
}

h2 {
    font-size: 18pt;
    font-variation-settings: "wght" 400;
    line-height: .4;
}

h3 {
    font-size: 18pt;
    font-variation-settings: "wght" 500;
    margin-bottom: -20px;
    margin-top: -20px;
    color: #0b4f10;
}

h4 {
    font-size: 14pt;
    text-indent: 2.5%;
    position: relative;
    left: 350px;
    top: 15px;
    line-height: .6;
}

p {
    font-size: 18pt;
    text-indent: 5%;
    margin: -24px 0;
    line-height: .6;
}

div {
    margin-bottom: 60px;
}

.font-weight {
    /* I know that font-weight: bold; should be used, but with this font the bold effect is very slight. Instead, for a  more pronounced effect, the below is used. */
    font-variation-settings: "wght" 500;
}

.font-style {
    font-style: italic;
}

.letter-spacing1 {
    letter-spacing: .2em;
}

.letter-spacing2 {
    letter-spacing: -.05em;
}

.text-transform1 {
    text-transform: uppercase;
}

.text-transform2 {
    text-transform: lowercase;
}

.text-transform3 {
    text-transform: capitalize;
}

.text-decoration1 {
    text-decoration: underline;
}

.text-decoration2 {
    text-decoration: line-through;
}

.text-decoration3 {
    text-decoration: overline;
}

.all {
    width: 387.34px;
    height: 863.48px;
    position: relative;
    left: 50%;
    margin-left: -280.67px;
}