html {
    font-family: 'Andale Mono', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    background-color: rgb(235, 235, 235);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

p {
    margin-top: 30px;
    margin-bottom: 35px;
}

#pdf {
    border-style: solid;
    border: 1px black;
}